
/*-----------------------------COLOOOOOOOOOOORSS------------------------

----HEADER
green Hermaprove                #74B65E
dark green Hermaprove           #5BA83F
dark dark green Hermaprove      #51A525

light brown                     #
brown Hermaprove                #5F4828
dark brown Hermaprove           #5B3D19
dark dark dark gray             #66667D
dark gray                       #9999AF
light gray                      #F1F1F1

dark blue                       #35499B
*/


/*------------------------RULES OVERWRITEN IN OPENCART CSS----------------------*/


/*
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}*/


/*------------------------HERMAPROVE RULES----------------------*/

.colorVerdeHermaprove{
	color: #74b65e;
}

.colorGrayDarkDarkHermaprove{
  color: #66667D;
}

.colorBlue{
  color: #35499B;
}

#company_description{
    margin-top: 8px
}

.form-control-feedback {
    pointer-events: auto;
}


/*------------------------GENERAL RULES----------------------*/


#link_registrar{
  font-weight: bold
}


#link_opcionprincipal{
  margin:10px 0px;
   padding-right: 0px;
}

#link_opcionprincipal>a{
  font-size: 13px;
  font-weight: bold;
  
}

#solicitarpromotor{
  /*border: 1px solid #A67C52;*/
  color: #5C4423 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: bold
}

#solicitarpromotor:hover{
  color: white !important;
  background-color: #5F4828;
}

#contacto_telefono {
  margin-top: 0px
}
@media (min-width: 991px) {
    #contacto_telefono {
      margin-top: 15px
    }
}